# Dependencies
node_modules
aws
data
# yarn error logs
yarn-error.log

*.log
# Environment varibales
!.env*.example
dist
.env
# Prisma migrations
prisma/migrations/*
!prisma/migrations/migration_lock.toml
# Code coverage
coverage
google-services.json