name: Apple-Health

services:
    health_mysql:
        image: mariadb:10.4.32
        container_name: health_mysql
        ports:
            - "3301:3306"
        volumes:
            - mysqldbdata:/var/lib/mysql
        environment:
            MYSQL_ROOT_PASSWORD: password
            MYSQL_DATABASE: health_db
            MYSQL_USER: healthy_user
            MYSQL_PASSWORD: password
        networks:
            - health-network
        healthcheck:
            test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
            interval: 10s
            timeout: 5s
            retries: 5
        restart: unless-stopped

    health_phpmyadmin:
        image: phpmyadmin/phpmyadmin:5.2
        container_name: health_phpmyadmin
        restart: 'unless-stopped'
        ports:
            - "9080:80"
        environment:
            PMA_HOST: health_mysql
            PMA_USER: healthy_user
            PMA_PASSWORD: password
            UPLOAD_LIMIT: 300M
        depends_on:
            health_mysql:
                condition: service_healthy
        networks:
            - health-network
        volumes:
            - phpmyadmin-data:/var/www/html

    health_node-app:
        build:
            context: .
            dockerfile: Dockerfile.ready
        env_file:
            - ./.env
        ports:
            - "8739:7384"
        environment:
            NODE_ENV: production
            LOGS_DIR: /usr/src/logs
            PERSISTENT_STORAGE_DIR: /usr/src/health
            GOOGLE_APP_CREDENTIALS: /usr/src/health/google-credentials.json
            DATABASE_URL: mysql://healthy_user:password@health_mysql:3306/health_db
            DB_HOST: health_mysql
            DB_PORT: 3306
            DB_USER: healthy_user
            DB_PASSWORD: password
            DB_DATABASE: health_db
        volumes:
            - persistent-storage:/usr/src/health
            - logs-data:/usr/src/logs
        image: health_image_webservice:1.0.0
        container_name: health_webservice
        depends_on:
            health_mysql:
                condition: service_healthy
        networks:
            - health-network
        restart: unless-stopped

    # Python Worker
    python-worker:
        build:
            context: ../apple_health_export
            dockerfile: Dockerfile
        container_name: health_python-worker
        environment:
            - BACKEND_URL=http://health_node-app:7384
            - WATCH_DIR=/usr/src/health/health_imports
            - PROCESSED_DIR=/usr/src/health/processed
        volumes:
            - persistent-storage:/usr/src/health
        depends_on:
            - health_node-app
        networks:
            - health-network
        restart: unless-stopped

    health_angular-frontend:
        build:
            context: ../apple_health_ng
            dockerfile: Dockerfile.ready
        image: health_image_angular-frontend:1.0.0
        container_name: health_angular-frontend
        ports:
            - "3762:80"
        environment:
            - API_URL=http://health_node-app:7384
        depends_on:
            - health_node-app
        networks:
            - health-network
        restart: unless-stopped

    cloudflared:
        image: cloudflare/cloudflared:2025.6.1
        command: tunnel --no-autoupdate run --token ${CLOUDFLARE_TUNNEL_TOKEN}
        restart: unless-stopped
        depends_on:
            - health_mysql
            - health_node-app
            - health_phpmyadmin
            - health_angular-frontend
        networks:
            - health-network
        volumes:
            - ~/.cloudflared:/etc/cloudflared
        container_name: health_cloudflared


volumes:
    configdb:
    mysqldbdata:
    persistent-storage:
    phpmyadmin-data:
    logs-data:

networks:
    health-network:
        driver: bridge
