name: Apple-Health

services:
    maria_db:
        image: mariadb:10.4.32
        container_name: health_maria_db
        ports:
            - "3403:3306"
        volumes:
            - mysqldbdata:/var/lib/mysql
        environment:
            MYSQL_ROOT_PASSWORD: password
            MYSQL_DATABASE: health_db
            MYSQL_USER: healthy_user
            MYSQL_PASSWORD: password
        networks:
            - health-network
        healthcheck:
            test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
            interval: 10s
            timeout: 5s
            retries: 5
        restart: unless-stopped

    adminer:
        build:
            context: .
            dockerfile: Dockerfile.phpmyadmin
        # image: phpmyadmin/phpmyadmin:5.2
        container_name: health_adminer
        restart: 'unless-stopped'
        ports:
            - "8003:80"
        environment:
            PMA_HOST: maria_db
            PMA_USER: healthy_user
            PMA_PASSWORD: password
            UPLOAD_LIMIT: 300M
        depends_on:
            maria_db:
                condition: service_healthy
        networks:
            - health-network
        volumes:
            - phpmyadmin-data:/var/www/html

    server:
        build:
            context: .
            dockerfile: Dockerfile.ready
        env_file:
            - ./.env
        ports:
            - "3003:3000"
        environment:
            PORT: 3000
            NODE_ENV: production
            LOGS_DIR: /usr/src/logs
            PERSISTENT_STORAGE_DIR: /usr/src/health
            GOOGLE_APP_CREDENTIALS: /usr/src/health/google-credentials.json
            DATABASE_URL: mysql://healthy_user:password@maria_db:3306/health_db
            DB_HOST: maria_db
            DB_PORT: 3306
            DB_USER: healthy_user
            DB_PASSWORD: password
            DB_DATABASE: health_db
        volumes:
            - persistent-storage:/usr/src/health
            - logs-data:/usr/src/logs
        image: health_image_webservice:1.0.0
        container_name: health_server
        depends_on:
            maria_db:
                condition: service_healthy
        networks:
            - health-network
        restart: unless-stopped

    # Python Worker
    python-worker:
        build:
            context: ../worker
            dockerfile: Dockerfile
        container_name: health_python-worker
        environment:
            - BACKEND_URL=http://server:3000
            - WATCH_DIR=/usr/src/health/health_imports
            - PROCESSED_DIR=/usr/src/health/processed
        volumes:
            - persistent-storage:/usr/src/health
        depends_on:
            - server
        networks:
            - health-network
        restart: unless-stopped

    client:
        build:
            context: ../client
            dockerfile: Dockerfile.ready
        image: health_image_angular-frontend:1.0.0
        container_name: health_client
        ports:
            - "4203:80"
        environment:
            - API_URL=http://server:3000
        depends_on:
            - server
        networks:
            - health-network
        restart: unless-stopped

    cloudflared:
        image: cloudflare/cloudflared:2025.6.1
        command: tunnel --no-autoupdate run --token ${CLOUDFLARE_TUNNEL_TOKEN}
        restart: unless-stopped
        depends_on:
            - maria_db
            - server
            - adminer
            - client
        networks:
            - health-network
        volumes:
            - ~/.cloudflared:/etc/cloudflared
        container_name: health_cloudflared


volumes:
    configdb:
    mysqldbdata:
    persistent-storage:
    phpmyadmin-data:
    logs-data:

networks:
    health-network:
        driver: bridge
